*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.btn {
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #DB2512;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 15px;
    transition: background-color .2s ease;
}

.btn:hover {
    background-color: rgb(109, 4, 4);
}

.header {
    width: 100%;
    position: absolute;
    z-index: 2;
}

.header__wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    
}

.header__block {
    width: 20%;
}

.header__block:last-child {
    text-align: center;
}

.nav {
    color: white;
    display: flex;
}

.nav__link {
    color: white;
    font-weight: 600px;
    margin-right: 35px;

}

.nav__link:after {
    width: 100px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
}

.nav__link:first-child {
    border-bottom: 2px solid white;
}

.header__lng {
    display: flex;
    justify-content: flex-end;
}

.header__lng-link {
    color: white;
}


.ru {
    color: #B7B7B7;
    margin-right: 8px;
}

.intro {
    background: url('/img/road-g9875459d1_1920\ 1.jpg');
    background-repeat: no-repeat;
    position: relative;
}

.intro::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}

.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__block {

}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    max-width: 790px;
    line-height: 150%;
    margin-bottom: 50px;
}

